/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #region Cores */
/* #endregion */
/* #region Fontes */
/* #endregion */
/* #region Conversor de pixels para em */
/* #endregion */
/* #region Tipografias do site */
/* #endregion */
/* #region Cores */
/* #endregion */
/* #region Fontes */
/* #endregion */
/* #region Estilos Gerais */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* #endregion */
.estrutura {
  display: grid;
  grid-template-columns: 351px 1fr;
  grid-template-rows: minmax(96vh, auto) 7vh;
  grid-template-areas: "sidenav  main" "sidenav  main" "sidenav  footer";
}

.sidenav {
  grid-area: sidenav;
  background-color: #4c6085;
  position: fixed;
  height: 100vh;
  width: 351px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidenav__noturno {
  align-self: flex-end;
  margin: 2vh 1.5vw 0 0;
}

.sidenav__nomecargo {
  text-align: center;
  margin-top: 3vh;
}

.sidenav__nome {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.375em;
  line-height: 0.54545em;
}

.sidenav__cargo {
  margin-top: 3vh;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.375em;
  line-height: 0.54545em;
  opacity: 0.8;
}

.sidenav__list {
  display: flex;
  align-content: space-between;
  margin-top: 3vh;
}

.sidenav__list li:not(:last-child) {
  margin-right: 1vw;
}

.sidenav__separador {
  background-color: #f9f7f7;
  border: 1px solid #f9f7f7;
  border-radius: 50px;
  opacity: 0.2;
  width: 306px;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.navegacao {
  position: fixed;
  top: 400px;
  left: 100px;
}

.navegacao__list li {
  display: flex;
  align-items: center;
}

.navegacao__list li:not(:first-child) {
  margin-top: 2vh;
}

.navegacao__list li img {
  margin-right: 2vw;
}

.navegacao__list li span {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5625em;
  line-height: 1.6em;
}

.navegacao a {
  text-decoration: none;
}

.main {
  grid-area: main;
  margin-top: 3vh;
}

.main .introducao {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main .introducao__texto {
  margin-top: 8vh;
  margin-left: 3vw;
}

.main .introducao__titulo {
  font-weight: bold;
  color: #161613;
  font-size: 2.1875em;
  line-height: 0.34286em;
  margin-bottom: 3vh;
}

.main .introducao__subtitulo {
  font-weight: lighter;
  color: #161613;
  font-size: 1.5625em;
  line-height: 1.6em;
  max-width: 33vw;
}

.main .introducao__avatar {
  margin-top: 1vh;
  margin-right: 3vw;
}

.main .introducao__sampa {
  margin-top: 10vh;
}

.main .secao {
  display: flex;
  justify-content: space-around;
}

.main .secao__texto {
  margin-left: 2vw;
}

.main .secao__titulo {
  font-weight: normal;
  color: #e4572e;
  font-size: 2.1875em;
  line-height: 0.34286em;
  margin-top: 6vh;
}

.main .secao__paragrafo {
  font-weight: lighter;
  color: #161613;
  font-size: 1.5625em;
  line-height: 1.6em;
  max-width: 61vw;
  margin-top: 3vh;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  background-color: #f9f7f7;
  border-top: 1px solid #c3c3c3;
  padding: 2vh 0 2vh 0;
  margin-top: 2vh;
}

.footer__paragrafo {
  margin: 0 auto;
  font-weight: lighter;
  color: #000000;
  font-size: 0.9375em;
  line-height: 0.8em;
}
/*# sourceMappingURL=index.css.map */