.navegacao {
    position: fixed;
    top: 400px;
    left: 100px;
    &__list li {
        display: flex;
        align-items: center;
        &:not(:first-child) {
            margin-top: 2vh;
        }
        img {
            margin-right: 2vw;
        }
        span {
            @include tipografia(25, bold, $texto-menu);
        }
    }
    a {
        text-decoration: none;
    }
}
