.sidenav {
    grid-area: sidenav;
    background-color: $cor-secundaria;
    position: fixed;
    height: 100vh;
    width: 351px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__noturno {
        align-self: flex-end;
        margin: 2vh 1.5vw 0 0;
        height: 34px;
        width: 32px;
    }
    &__nomecargo {
        text-align: center;
        margin-top: 3vh;
    }
    &__nome {
        @include tipografia(22, bold, $texto-menu);
    }
    &__cargo {
        margin-top: 3vh;
        @include tipografia(22, normal, $texto-menu);
        opacity: 0.8;
    }
    &__list {
        display: flex;
        align-content: space-between;
        margin-top: 3vh;
        li:not(:last-child) {
            margin-right: 1vw;
        }
        img {
            width: 35px;
            height: 35px;
        }
    }
    &__separador {
        background-color: $separador;
        border: 1px solid $separador;
        border-radius: 50px;
        opacity: 0.2;
        width: 306px;
        margin-top: 4vh;
        margin-bottom: 6vh;
    }
}
