@import "variaveis";

html {
    @include device(medium) {
        font-size: 80%;
    }
}

body {
    background-color: $texto-menu;
    font-family: $font-principal;
}

img {
    display: block;
    max-width: 100%;
    @include device(medium) {
        max-width: 80%;
    }
}
