:root {
    @include device(medium) {
        font-size: 80%;
    }
    @include device(small) {
        font-size: 70%;
    }
}

body {
    background-color: var(--background);
    font-family: $font-principal;
}

img {
    display: block;
    max-width: 100%;
    @include device(medium) {
        max-width: 80%;
    }
}
