:root {
    --cor-branca: #{$cor-branca};
    --background: #{$cor-branca};
    --texto-descritivo: #{$texto-descritivo};
    --cor-sidenav: #{$cor-sidenav};
    --cor-bullets: #{$cor-bullets};
    --separador: #{$separador};
    --titulo-secao: #{$titulo-secao};
    --cor-borda: #{$cor-borda};
    --footer: #{$separador};

    @include device(medium) {
        font-size: 80%;
    }
    @include device(small) {
        font-size: 70%;
    }
}

body {
    background-color: var(--background);
    font-family: $font-principal;
}

img {
    display: block;
    max-width: 100%;
    @include device(medium) {
        max-width: 80%;
    }
}