/* #region Cores */
:root {
    --cor-branca: #ffffff;
    --background: #ffffff;
    --texto-descritivo: #161613;
    --cor-sidenav: #4c6085;
    --cor-bullets: #57aeef;
    --separador: #f9f7f7;
    --titulo-secao: #e4572e;
    --cor-borda: #c3c3c3;
    --footer: #f9f7f7;
}
/* #endregion */

/* #region Fontes */
$font-principal: "Roboto", sans-serif;
/* #endregion */

/* #region Devices */
$large-device: 1200px;
$medium-device: 930px;
$small-device: 769px;
/* #endregion */
