/* #region Cores */
$texto-descritivo: #161613;
$texto-menu: #ffffff;
$cor-secundaria: #4c6085;
$cor-cabecalho: #f9f7f7;
$separador: #f9f7f7;
$titulo-secao: #e4572e;
$icone-cabecalho: #000000;
$cor-borda: #c3c3c3;
/* #endregion */

/* #region Fontes */
$font-principal: "Roboto", sans-serif;
/* #endregion */