.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    background-color: var(--footer);
    border-top: 1px solid var(--cor-borda);
    padding: 2vh 0 2vh 0;
    margin-top: 2vh;
    &__paragrafo {
        margin: 0 auto;
        @include tipografia(15, lighter, var(--texto-descritivo));
    }
}
