.main {
    grid-area: main;
    margin-top: 3vh;
    .introducao {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__texto {
            margin-top: 8vh;
            margin-left: 3vw;
            @include device(medium) {
                text-align: center;
            }
        }
        &__titulo {
            @include tipografia(35, bold, $texto-descritivo);
            margin-bottom: 3vh;
        }
        &__subtitulo {
            @include tipografia(25, lighter, $texto-descritivo);
            max-width: 33vw;
        }
        &__avatar {
            margin-top: 1vh;
            margin-right: 3vw;
            height: 279px;
            @include device(medium) {
                height: 219px;
                margin-right: 3%;
                margin-left: 10%;
            }
        }
        &__sampa {
            width: 80vw;
            height: 47vh;
            margin-top: 10vh;
            @include device(medium) {
                height: 20vh;
            }
        }

        @include device(small) {
            display: none;
        }
    }

    .secao {
        display: flex;
        justify-content: space-around;
        &__texto {
            margin-left: 2vw;
        }
        &__titulo {
            @include tipografia(35, normal, $titulo-secao);
            margin-top: 6vh;
        }
        &__paragrafo {
            @include tipografia(25, lighter, $texto-descritivo);
            max-width: 61vw;
            margin-top: 3vh;
        }
    }
}
