.main {
    grid-area: main;
    margin-top: 3vh;
    .introducao {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__texto {
            margin-top: 8vh;
            margin-left: 3vw;
            @include device(medium) {
                margin-top: 4vh;
                margin-left: 4vw;
                text-align: center;
            }
        }
        &__titulo {
            @include tipografia(35, bold, var(--texto-descritivo));
            margin-bottom: 3vh;
        }
        &__subtitulo {
            @include tipografia(25, lighter, var(--texto-descritivo));
            max-width: 33vw;
        }
        &__avatar {
            margin-top: 1vh;
            margin-right: 3vw;
            height: 279px;
            @include device(medium) {
                margin-top: 2vh;
                height: 219px;
                margin-right: 3%;
                margin-left: 10%;
            }
        }
        &__sampa {
            width: 80vw;
            height: 47vh;
            margin-top: 10vh;
            @include device(medium) {
                height: 20vh;
                display: none;
            }
        }

        @include device(small) {
            display: none;
        }
    }
}
