.sidenav {
    grid-area: sidenav;
    background-color: $cor-secundaria;
    position: fixed;
    height: 100vh;
    width: 351px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 22px 17px 25px 1px rgba(30, 30, 60, 0.25), 4px 17px 25px 1px rgba(30, 30, 60, 0.25);
    @include device(small) {
        position: static;
        width: 100vw;
        height: 100%;
        margin-bottom: 1vh;
    }
    &__noturno {
        align-self: flex-end;
        color: $texto-menu;
        margin: 2vh 1.5vw 0 0;
        @include device(small) {
            margin-right: 3%;
        }
    }
    &__nomecargo {
        text-align: center;
        margin-top: 3vh;
        text-transform: uppercase;
    }
    &__nome {
        @include tipografia(20, bold, $texto-menu);
    }
    &__cargo {
        margin-top: 3vh;
        @include tipografia(20, normal, $texto-menu);
        opacity: 0.8;
    }
    &__menu {
        display: none;
        @include device(small) {
            display: flex;
            right: 85vw;
            position: absolute;
        }
    }
    &__list {
        display: flex;
        align-content: space-between;
        margin-top: 3vh;
        li:not(:last-child) {
            margin-right: 1vw;
        }
        img {
            width: 35px;
            height: 35px;
        }
        @include device(small) {
            margin-top: 0;
            align-self: flex-end;
            padding-right: 3%;
        }
    }
    &__redes {
        color: $texto-menu;
    }
    &__separador {
        background-color: $separador;
        border: 1px solid $separador;
        border-radius: 50px;
        opacity: 0.2;
        width: 306px;
        margin-top: 4vh;
        margin-bottom: 6vh;
        &--small {
            display: none;
        }
        @include device(small) {
            width: 100%;
            margin-top: 1vh;
            margin-bottom: 3vh;
            display: none;
            &--small {
                display: flex;
                margin-bottom: 1vh;
                margin-top: 3vh;
            }
        }
    }
}

.navegacao {
    &__list li {
        display: flex;
        align-items: center;
        gap: 25px;
        &:not(:first-child) {
            margin-top: 2vh;
        }
        span {
            @include tipografia(25, bold, $texto-menu);
        }
    }
    @include device(small) {
        align-self: flex-start;
        margin-left: 3.7vw;
        margin-bottom: 3vh;
        display: none;
    }
    a {
        text-decoration: none;
    }
    &__itens {
        color: $texto-menu;
    }
}

#itemCurri {
    margin-left: 3.5px;
}
