.sidenav__menu--enabled {
    display: block;
}

#itemSobre {
    --animate-duration: 0.5s;
}

#itemSkill {
    --animate-duration: 1s;
}

#itemProje {
    --animate-duration: 1.5s;
}

#itemCurri {
    --animate-duration: 2s;
}
